.Container{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 70px;
    background: rgb(138, 96, 96);
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}